<div class="contentDiv">
  <img
    class="imgClass"
    [src]="item?.linkImagem"
    alt>
  <div class="title">
    <h4 style="padding-left: 25px;">
      <strong>{{ item.tituloFilme }}</strong>
    </h4>
    <span class="sub-title"><h4>
        Total de votos {{item.quantidadeNotas}}
    </h4>
    </span>

    <div class="comentarios">
      <ng-container
        style="margin-top: 30px;"
        *ngFor="let avaliacao of avaliacoes">
        <div>
          <span class="titulo-mensagem">Usuário: </span>
          <span class="mensagem">{{avaliacao.nomeUsuario}}</span>
          <span class="titulo-mensagem"> Nota: </span>
          <span class="mensagem">{{avaliacao.avaliacaoUsuario}}</span>
          <span class="titulo-mensagem"> Comentário: </span>
          <span class="mensagem">{{avaliacao.comentario}}</span>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="star">
    <!-- <img
      src="../../../assets/star.png"
      alt> -->
    <div
      class="nota"
      [appColorMediaNota]="item.mediaNotas">
      <span style="font-weight: bold;font-size: 20px;">{{ item.mediaNotas | notamedia }}</span>
    </div>
  </div>
  <div class="button">
    <i
      style="margin-right: 6px;"
      class="fa fa-video-camera"
      aria-hidden="true"></i>
    <a
      routerLink="."
      (click)="avaliarFilme(item)">
      Avaliar filme
    </a>
  </div>
</div>
