<h1>Avaliar filme {{data.codigoFilme}} - {{data.tituloFilme}}</h1>
<form [formGroup]="formGroup">
  <div class="row">
    <div class="col-md-3">
      <mat-form-field>
        <input
          matInput
          formControlName="notaFilme"
          placeholder="Nota"
          cdkFocusInitial
          type="number">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-form-field>
        <textarea
          matInput
          formControlName="comentario"
          placeholder="Comentário"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
<div
  mat-dialog-actions
  class="div-actions">
  <button
    mat-stroked-button
    color="primary"
    [disabled]="formGroup.invalid"
    (click)="avaliarFilme()">
    Avaliar filme
  </button>
  <button
    mat-stroked-button
    color="warn"
    mat-dialog-close>
    Fechar
  </button>
</div>
