<ng-container *ngIf="!atualizandoDados; else ultimaVerificacaoTemplate">
  {{ ultimaVerificacao | date: "dd-MMM-yy h:mm:ss a " }}
</ng-container>
<ng-template #ultimaVerificacaoTemplate>Carregando dados</ng-template>

<div class="contentDiv" *ngFor="let item of listaAvaliacoes">
  <img class="imgClass" [src]="item.linkImagem" alt />
  <div class="title">
    <h4 style="padding-left: 25px;">
      <strong>{{ item.tituloFilme }}</strong>
    </h4>
  </div>
  <div class="nota" [appColorMediaNota]="item.mediaNotas">
    {{ item.mediaNotas | notamedia }}
  </div>
   <a mat-button routerLink="." (click)="avaliarFilme(item)">Avaliar filme</a>
</div>
