<div class="formulario-login">
  <div class="col-md-12">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="credenciais.login"
        placeholder="Usuário">
    </mat-form-field>
  </div>
  <div class="col-md-12">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="credenciais.senha"
        [placeholder]="'Senha'"
        type="password">
    </mat-form-field>
  </div>
  <div class="row">
    <button
      mat-raised-button
      (click)="autenticar()"
      color="primary">
      <i class="fa fa-check"></i>
      Autenticar
    </button>
  </div>
  <div class="row" *ngIf="loginInvalido">
    Login ou senha inválidos
  </div>
</div>
