<div class="allContent">
  <div
    *ngIf="!naoCadastrado"
    class="loginArea">
    <div class="title">
      <h1>IMDc</h1>
    </div>
    <div class="formInputs">
      <div style="display: flex; justify-content: center; margin: 20px;">
        <input
          class="inputField"
          type="text"
          placeholder="Login"
          [(ngModel)]="credenciais.login">
      </div>

      <div style="display: flex; justify-content: center;">
        <input
          class="inputField"
          type="text"
          type="password"
          placeholder="Senha"
          [(ngModel)]="credenciais.senha">
      </div>
    </div>
    <div
      style="display: flex; justify-content: center;"
      *ngIf="loginInvalido">
      <span style="color: #F5C518; font-weight: bold;">Usuário ou senha incorretos!</span>
    </div>
    <div class="buttons">
      <button
        mat-raised-button
        (click)="autenticar()"
        class="btnEntrar">
        Entrar
      </button>
      <button
        mat-raised-button
        (click)="irParaFormularioNovoUsuario()"
        class="btnCadastrar">
        Cadastre-se
      </button>
    </div>
  </div>

  <!-- Cadastro -->
  <div
    *ngIf="naoCadastrado"
    class="loginArea">
    <div class="title">
      <h1>IMDc</h1>
    </div>
    <div class="formInputs">
      <div style="display: flex; justify-content: center; margin: 20px;">
        <input
          class="inputField"
          type="text"
          placeholder="Nome"
          [(ngModel)]="credenciais.nome">
      </div>

      <div style="display: flex; justify-content: center;">
        <input
          class="inputField"
          type="text"
          type="text"
          placeholder="Login"
          [(ngModel)]="credenciais.login">
      </div>
      <div style="display: flex; justify-content: center; margin: 20px;">
        <input
          class="inputField"
          type="password"
          placeholder="Senha"
          [(ngModel)]="credenciais.senha">
      </div>

      <div style="display: flex; justify-content: center;">
        <input
          class="inputField"
          type="password"
          placeholder="Confirmar Senha"
          [(ngModel)]="credenciais.confirmarSenha">
      </div>
    </div>
    <div
      style="display: flex; justify-content: center;"
      *ngIf="loginInvalido">
      <span style="color: #F5C518; font-weight: bold;">Usuário ou senha incorretos!</span>
    </div>
    <div class="buttons">
      <button
        mat-raised-button
        (click)="voltar()"
        class="btnCadastrar">
        Voltar
      </button>
      <button
        mat-raised-button
        (click)="criarNovoUsuario()"
        class="btnCadastrar"
        [disabled]="credenciais?.senha !== credenciais?.confimarSenha && credenciais?.senha && credenciais?.confimarSenha">
        Cadastrar
      </button>
    </div>
  </div>
</div>
