.header-4 {
  background: rgb(51, 51, 51);
}


.nav-link:hover clr-icon {
  animation: cam 1s 1;
}

@keyframes cam {
  0% , 100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }
}
