<header class="header-4">
    <div class="branding">
      <div
        class="nav-link"
        style="cursor: pointer;">
        <clr-icon
          shape="picture"
          (click)="sidenavChangeEvent()"></clr-icon>
        <span class="title">Movie Review</span>
      </div>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <button
          class="nav-icon"
          clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu
          *clrIfOpen
          clrPosition="bottom-right">
          <a
            clrDropdownItem
            (click)="logoutAppEvent()">
            <clr-icon shape="logout"></clr-icon>
            <span class="icon-shape-name">Sair</span>
          </a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
