<clr-vertical-nav
  [clrVerticalNavCollapsible]="true"
  [clrVerticalNavCollapsed]="collapsed"
  (clrVerticalNavCollapsedChange)="alterouCollapsed($event)">
  <a
    clrVerticalNavLink
    routerLink="./timeline"
    routerLinkActive="ativado">
    <clr-icon
      clrVerticalNavIcon
      shape="star"></clr-icon>
    Avaliações
  </a>
  <a
    clrVerticalNavLink
    routerLink="./filme"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="video-camera"></clr-icon>
    Filme
  </a>
</clr-vertical-nav>
