<clr-vertical-nav
  [clrVerticalNavCollapsible]="true"
  [clrVerticalNavCollapsed]="collapsed"
  (clrVerticalNavCollapsedChange)="alterouCollapsed($event)">
  <a
    clrVerticalNavLink
    routerLink="./timeline"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="home"></clr-icon>
    Home
  </a>
  <a
    clrVerticalNavLink
    routerLink="./filme"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="picture"></clr-icon>
    Filme
  </a>
  <a
    clrVerticalNavLink
    routerLink="./poison"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="sad-face"></clr-icon>
    Poison
  </a>
  <a
    clrVerticalNavLink
    routerLink="./grass"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="bug"></clr-icon>
    Grass
  </a>
  <a
    clrVerticalNavLink
    routerLink="./fighting"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="shield"></clr-icon>
    Fighting
  </a>
  <a
    clrVerticalNavLink
    routerLink="./credit"
    routerLinkActive="active">
    <clr-icon
      clrVerticalNavIcon
      shape="certificate"></clr-icon>
    Credit
  </a>
</clr-vertical-nav>
