.header-crud {
  display: flex;
  justify-content: flex-start;
  justify-self: baseline;
}

.div-botoes {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.div-botoes button {
  margin-left: 5px;
}

.botao-salvar {
  background-color: rgb(51, 102, 1);
}

.botao-novo {
  background-color: #0065ad;
}
